{% extends "base.html" %}
{% load static %}
{% load settings_value %}

{% block main %}

<section class="container">
    <h2>Login</h2>
    <form method="post" class="full-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </p>
        <p>
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
        </p>
        <button type="submit">Login</button>
    </form>
</section>

{% endblock %}