{% extends "base.html" %}
{% load static %}
{% load settings_value %}

{% block main %}

<section class="container">
    <h2>Login</h2>
    <p>
        Accounts are anonymous, so if you've forgotten your username or password you'll need to create a new account. Please contact us for assistance.
    </p>
    <form method="post" class="full-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </p>
        <p>
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
        </p>
        <button type="submit">Login</button>
    </form>
</section>


<section class="container">
    <h2>Create Account</h2>
    <p>
        If you don't yet have an account, please <a href="{% url 'account:create' %}" id="account-login-createlink">create an account</a>
    </p>
</section>

{% endblock %}