{% extends "base.html" %}
{% load static %}

{% block main %}

<section id="welcome-banner">
    <div id="welcome-banner-content">
        <div id="welcome-banner-content-title">
            Human-AI
            <br>
            Interaction
        </div>
        <div id="welcome-banner-content-tagline">
            Trust, Intimacy and Deception<br>in Human-AI Interaction
        </div>
        {% if user.is_authenticated %}
            <div id="welcome-banner-content-links">
                <a href="{% url 'general:welcome' %}">View Experiments</a>
            </div>
        {% endif %}
    </div>

    <div id="welcome-banner-proceed">
        <i class="fas fa-angle-down"></i>
    </div>
</section>

<section id="welcome" class="container">
    <h2>Welcome</h2>
    <p>
        Welcome to the Human-AI Interaction website.
    </p>
    <p>
        ...
    </p>
</section>

<script>
    $(document).ready(function(){
        // Scroll down to main welcome section when clicking on the proceed button in the welcome banner
        $('#welcome-banner-proceed').on('click', function(){
            $('html,body').animate({ scrollTop: $('#welcome').offset().top - 50 }, 800); 
        });
    });
</script>

{% endblock %}