{% extends "base.html" %}
{% load static %}

{% block main %}

<section id="welcome-banner">
    <div id="welcome-banner-content">
        <div id="welcome-banner-content-title">
            Human-AI
            <br>
            Interaction
        </div>
        <div id="welcome-banner-content-links">
            <a href="{% if user.is_authenticated %}{% url 'experiments:index' %}{% else %}{% url 'account:create' %}{% endif %}">Join this Study</a>
        </div>
    </div>

    <div id="welcome-banner-proceed">
        <i class="fas fa-angle-down"></i>
    </div>
</section>

<section id="welcome" class="container">
    <h2>Welcome</h2>
    <p>
        Welcome to the Human-AI Interaction website! We are researchers in the Department of Linguistics and Communication at the University of Birmingham. This site hosts online experiments that explore how people communicate with artificial intelligence systems. You can participate by clicking on the “Join this Study” button.
    </p>
    <p>
        AI systems are increasingly part of our everyday lives. Whether it’s chatting with a virtual assistant, getting support from a customer service bot, or scrolling through social media, many of our online encounters now involve machines designed to communicate like people. We want to understand how people interact with these systems. If you have any questions or comments, please email us: Dr Matteo Fuoli (<a href="mailto:m.fuoli@bham.ac.uk">m.fuoli@bham.ac.uk</a>) and Dr Marcus Perlman (<a href="mailto:m.perlman@bham.ac.uk">m.perlman@bham.ac.uk</a>).
    </p>
</section>

<footer id="footer" class="container-fluid">
    <!-- Content -->
    <div id="footer-content" class="container-fluid">
        <div id="footer-content-logos">
            <a href="https://www.birmingham.ac.uk/" target="_blank"><img src="{% static 'images/logos/uob.png' %}" alt="University of Birmingham"></a>
        </div>
        <p>
            <strong>Human-AI Interaction</strong> is a research project at the <a href="http://www.birmingham.ac.uk">University of Birmingham</a>
        </p>
        <p>
            This website has been developed by the <a href="http://www.birmingham.ac.uk/bear-software">Research Software Group</a> for the <a href="https://www.birmingham.ac.uk/university/colleges/artslaw/index.aspx">College of Arts and Law</a>
        </p>
        <p>
            <a href="https://www.birmingham.ac.uk/privacy/index.aspx" target="_blank">Privacy</a> |
            <a href="https://www.birmingham.ac.uk/legal/index.aspx" target="_blank">Legal</a> |
            <a href="https://www.birmingham.ac.uk/university/governance/policies-regs/information/index.aspx" target="_blank">Freedom of Information</a> |
            <a href="{% url 'general:cookies' %}">Cookies</a> |
            <a href="{% url 'general:accessibility' %}">Accessibility</a> |
            <a href="{% url 'admin:index' %}">Admin</a>
        </p>	
        <p>
            © University of Birmingham {% now "Y" %}
        </p>
    </div>
</footer>

<script>
    $(document).ready(function(){
        // Scroll down to main welcome section when clicking on the proceed button in the welcome banner
        $('#welcome-banner-proceed').on('click', function(){
            $('html,body').animate({ scrollTop: $('#welcome').offset().top - 50 }, 800); 
        });
    });
</script>

{% endblock %}