@media (min-width: 992px) {

    .display-large {
        display: initial;
    }

    /* ---------- Navigation ---------- */

    nav.navbar {
        height: 4.5rem;
    }

    .nav-link {
        margin-left: 0.6em;
        margin-right: 0.6em;
        margin-top: 0.2em;
    }

    #nav-search {
        margin-left: 1em;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 4.5rem;
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        min-height: calc(100vh - 4.5rem);
        padding: 2rem;
    }

    #welcome-banner-content-title {
        font-size: 5.5em;
    }

    /* ---------- Experiments ---------- */

    #experiments-index-instance-history-header-search input {
        width: 27em;
    }

    #experiments-index-instance-history-header select {
        width: fit-content;
        vertical-align: middle;
        float: right;
    }

}