{% extends "base.html" %}
{% load settings_value %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Account</h2>
</section>

<section class="container" id="account-mydetails">
    <h3>My Details</h3>
    <form method="post" class="full-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"><i class="fas fa-check"></i> Save changes</button>
    </form>
    <p>
        <a href="{% url 'account:change-password' %}">Change password</a>
    </p>
</section>

<section class="container" id="account-logout">
    <h3>Logout</h3>
    <p>
        Thanks for using Human-AI Interaction platform - see you soon!
    </p>
    <p>
        <!-- Logout must be a form that sends a post request, or will not work -->
        <form action="{% url 'account:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </p>
</section>

{% endblock %}