{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Participant verification</h2>
    <p>
        Please complete the brief sign up form below to get started. This is a security measure to prevent unwanted access (such as bots). 
    </p>
    <p>
        All accounts are anonymous. Your User ID is your Prolific ID or Participant ID provided by project team.
    </p>
</section>

<section class="container">
    <form method="post" class="full-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Get Started</button>
    </form>
</section>

{% endblock %}