{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Create Account</h2>
    <p>
        Please complete the brief sign up form below to create an account. An account is required to complete experiments in an effort to prevent unwanted access (such as bots).
    </p>
    <p>
        All accounts are anonymous, so please do keep a safe note of your username and password so that you can successfully login.
    </p>
</section>

<section class="container">
    <form method="post" class="full-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create your account</button>
    </form>
</section>

{% endblock %}